body {
    background-color: #363636;
    color: whitesmoke;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.main-container {
    max-width: 100%;
    padding: 50px 100px;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
}


.text-highlight {
    background-color: #252525;
    padding: 1px 3px;
    border-radius: 5px;
    display: inline-block;
}

.text-highlight.big {
    padding: 15px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}

.text-highlight.even {
    padding: 5px 20px;
}

a {
    color: #4f8cc9;
    text-decoration: none;
}

a:hover,
a:active,
a:focus {
    color: #c33c33;
}

.subtitle-padding-start {
    padding-right: 5px;
}

.subtitle-padding {
    padding-left: 5px;
    padding-right: 5px;
}

.code-orange {
    color: #ac885b
}

.code-yellow {
    color: #f9ee98
}

.footer {
    font-size: 0.75em;
}